{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

<footer class="site-footer" role="contentinfo">
  <div class="page-width">
    <div class="grid grid--no-gutters">
      <div class="footer-logo-parent grid__item{% if section.settings.footer_newsletter_enable and section.settings.footer_linklist_two != blank %} medium-up--one-quarter{% elsif section.settings.footer_linklist_two == blank and section.settings.footer_newsletter_enable %} medium-up--one-half{% else %} text-center{% endif %}">
        {%- assign footer_linklist = section.settings.footer_linklist -%}
        {% if linklists[footer_linklist].links.size > 0 %}
 <!--           <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[footer_linklist].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
              </li>
            {% endfor %}
          </ul> --> 
        <a href="/" class="logo-footer">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 125 125" style="enable-background:new 0 0 125 125;" xml:space="preserve">
          <style type="text/css">
              .st0{fill:url(#SVGID_1_);}
              .st1{fill:url(#SVGID_2_);}
              .st2{fill:url(#SVGID_3_);}
              .st3{fill:url(#SVGID_4_);}
              .st4{fill:url(#SVGID_5_);}
              .st5{fill:url(#SVGID_6_);}
              .st6{fill:url(#SVGID_7_);}
              .st7{fill:url(#SVGID_8_);}
          </style>
          <g>
              <g>
                  <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="53.7515" y1="63.6479" x2="72.03" y2="63.6479">
                      <stop  offset="0" style="stop-color:#EE4640"/>
                      <stop  offset="0.5821" style="stop-color:#ED376E"/>
                      <stop  offset="1" style="stop-color:#EC2D8B"/>
                  </linearGradient>
                  <path class="st0" d="M53.8,61v-0.7c0-0.1,0.1-0.3,0.1-0.4c0.5-3.4,4.4-5,7.1-3c0.4,0.3,0.7,0.7,1.1,1c0.3,0.3,0.6,0.6,0.8,0.9
                      c0.1-0.1,0.1-0.1,0.2-0.2c0.4-0.4,0.8-0.8,1.2-1.2c0.8-0.8,1.8-1.3,2.9-1.4c2.2-0.2,4.3,1.4,4.8,3.7c0,0.2,0.1,0.4,0.1,0.6V61
                      c0,0.1-0.1,0.3-0.1,0.4c-0.2,1-0.8,1.8-1.5,2.5c-2.2,2.3-4.5,4.6-6.7,6.9c-0.5,0.5-1.2,0.5-1.7,0c-2.2-2.3-4.5-4.6-6.7-6.9
                      c-0.6-0.6-1.1-1.3-1.3-2.1C53.9,61.6,53.8,61.3,53.8,61"/>
                  <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="91.2046" y1="77.524" x2="91.3086" y2="77.524">
                      <stop  offset="0" style="stop-color:#EE4640"/>
                      <stop  offset="0.5821" style="stop-color:#ED376E"/>
                      <stop  offset="1" style="stop-color:#EC2D8B"/>
                  </linearGradient>
                  <path class="st1" d="M91.3,77.4L91.3,77.4c0,0.1-0.1,0.1-0.1,0.2C91.2,77.6,91.3,77.5,91.3,77.4z"/>
                  <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="89.6866" y1="34.7303" x2="89.7141" y2="34.7303">
                      <stop  offset="0" style="stop-color:#EE4640"/>
                      <stop  offset="0.5821" style="stop-color:#ED376E"/>
                      <stop  offset="1" style="stop-color:#EC2D8B"/>
                  </linearGradient>
                  <path class="st2" d="M89.7,34.7C89.7,34.7,89.7,34.7,89.7,34.7C89.7,34.7,89.7,34.7,89.7,34.7L89.7,34.7z"/>
                  <g>
                      <g>
                          <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="33.0657" y1="63.6248" x2="59.1702" y2="63.6248">
                              <stop  offset="0" style="stop-color:#EE4640"/>
                              <stop  offset="0.5821" style="stop-color:#ED376E"/>
                              <stop  offset="1" style="stop-color:#EC2D8B"/>
                          </linearGradient>
                          <path class="st3" d="M57.3,93.3c-0.1,0-0.2,0-0.4,0c-13.8-3-23.8-15.4-23.8-29.6c0-14.3,10.1-26.7,24.1-29.6
                              c0.9-0.2,1.8,0.4,2,1.3c0.2,0.9-0.4,1.8-1.3,2C45.4,39.9,36.5,51,36.5,63.6c0,12.6,8.9,23.6,21.2,26.3c0.9,0.2,1.5,1.1,1.3,2
                              C58.8,92.7,58.1,93.3,57.3,93.3z"/>
                      </g>
                      <g>
                          <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="42.5927" y1="63.6393" x2="59.1707" y2="63.6393">
                              <stop  offset="0" style="stop-color:#EE4640"/>
                              <stop  offset="0.5821" style="stop-color:#ED376E"/>
                              <stop  offset="1" style="stop-color:#EC2D8B"/>
                          </linearGradient>
                          <path class="st4" d="M57.4,83.5c-0.2,0-0.4,0-0.5-0.1c-8.6-2.8-14.3-10.7-14.3-19.7c0-9,5.8-17,14.4-19.7
                              c0.9-0.3,1.8,0.2,2.1,1.1c0.3,0.9-0.2,1.8-1.1,2.1c-7.2,2.3-12,9-12,16.5c0,7.5,4.8,14.2,12,16.5c0.9,0.3,1.4,1.2,1.1,2.1
                              C58.8,83,58.1,83.5,57.4,83.5z"/>
                      </g>
                      <g>
                          <linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="23.5387" y1="63.6479" x2="59.1679" y2="63.6479">
                              <stop  offset="0" style="stop-color:#EE4640"/>
                              <stop  offset="0.5821" style="stop-color:#ED376E"/>
                              <stop  offset="1" style="stop-color:#EC2D8B"/>
                          </linearGradient>
                          <path class="st5" d="M57.5,103c-0.1,0-0.2,0-0.3,0c-9.3-1.4-17.8-6.2-24-13.3c-6.2-7.2-9.7-16.5-9.7-26c0-9.6,3.4-18.8,9.7-26
                              c6.2-7.1,14.7-11.9,24-13.3c0.9-0.1,1.8,0.5,1.9,1.4c0.1,0.9-0.5,1.8-1.4,1.9c-8.5,1.3-16.3,5.6-21.9,12.2
                              c-5.7,6.6-8.9,15.1-8.9,23.8c0,8.7,3.1,17.2,8.9,23.8c5.7,6.5,13.5,10.9,21.9,12.2c0.9,0.1,1.6,1,1.4,1.9
                              C59,102.4,58.3,103,57.5,103z"/>
                      </g>
                  </g>
                  <linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="62.9859" y1="38.5395" x2="99.0151" y2="38.5395">
                      <stop  offset="0" style="stop-color:#EE4640"/>
                      <stop  offset="0.5821" style="stop-color:#ED376E"/>
                      <stop  offset="1" style="stop-color:#EC2D8B"/>
                  </linearGradient>
                  <path class="st6" d="M89.7,26.6v8.2v0c0,0,0,0,0,0c-6.2-5.7-14.3-9.5-23.2-10.3c-1-0.1-1.9-0.1-2.9-0.1c-0.1,0-0.5,0-0.5,0v7.8
                      c13.3,0,24.7,8.2,29.3,19.9c0.1,0.3,0.3,0.5,0.4,0.8H99v-5V26.6H89.7z"/>
                  <g>
                      <linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="62.986" y1="85.5707" x2="102" y2="85.5707">
                          <stop  offset="0" style="stop-color:#EE4640"/>
                          <stop  offset="0.5821" style="stop-color:#ED376E"/>
                          <stop  offset="1" style="stop-color:#EC2D8B"/>
                      </linearGradient>
                      <path class="st7" d="M102,68.1h-7.7H73v9.3h18.3h0c0,0.1-0.1,0.1-0.1,0.2C86.1,88,75.4,95.1,63,95.1v7.9
                          C83.2,102.9,99.8,87.7,102,68.1z"/>
                  </g>
              </g>
          </g>
          </svg>

        </a>
        {% endif %}
      </div>

      <div class="grid__item{% if section.settings.footer_newsletter_enable and section.settings.footer_linklist != blank %} medium-up--one-quarter{% elsif section.settings.footer_linklist == blank and section.settings.footer_newsletter_enable %} medium-up--one-half{% else %} text-center{% endif %} f-links-wrapper">
        {%- assign footer_linklist_two = section.settings.footer_linklist_two -%}
        {% if linklists[footer_linklist_two].links.size > 0 %}
          <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[footer_linklist_two].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
              </li>
            {% endfor %}
          </ul>
          <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
               <li class="site-footer__linklist-item"><a href="https://guaby-store.myshopify.com/pages/privacy-policy"><ly-as-7120890>Privacy Policy</ly-as-7120890></a></li>
               <li class="site-footer__linklist-item"><a href="https://guaby-store.myshopify.com/pages/faq"><ly-as-7120891>FAQ</ly-as-7120891></a></li>
               <li class="site-footer__linklist-item"><a href="https://guaby-store.myshopify.com/pages/terms-conditions"><ly-as-7120892>Terms & Conditions</ly-as-7120892></a></li>
          </ul>

        {% endif %}
      </div>

      {% if section.settings.footer_newsletter_enable %}
        <div class="grid__item medium-up--one-half">
          <div class="site-footer__newsletter">
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <p class="form--success">{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.confirmation' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.confirmation' | t }}{% endcapture %}{% include 'ly-static-string' with '7120904' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
              {% else %}
                <label for="Email" class="h4">{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.newsletter_email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.newsletter_email' | t }}{% endcapture %}{% include 'ly-static-string' with '7120905' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
                <div class="input-group">
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <input type="email"
                    name="contact[email]"
                    id="Email"
                    class="input-group__field newsletter__input"
                    value="{% if customer %}{{ customer.email }}{% endif %}"
                    placeholder="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.email_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.email_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '7120906' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}"
                    autocorrect="off"
                    autocapitalize="off">
                  <span class="input-group__btn">
                    <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                      <span class="newsletter__submit-text--large">{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '7120907' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
                    </button>
                  </span>
                </div>
              {% endif %}
            {% endform %}
          </div>
        </div>
<!--         <div class="grid__item medium-up--one-half">
          <div class="app_down_wrap">
            <h5><ly-as-7120893>Download the app</ly-as-7120893></h5>
            <p><ly-as-7120894>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut dolore magna aliquam erat volutpat.</ly-as-7120894> </p>
          </div>
        </div> -->
      
      {% endif %}
    </div>

    <div class="grid grid--no-gutters">
      {% if social_icons %}
        <div class="grid__item{% if section.settings.footer_newsletter_enable %} medium-up--one-half{% else %} text-center{% endif %}">
          <ul class="list--inline site-footer__social-icons social-icons">
            {% if settings.social_facebook_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_facebook_link | escape }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Facebook' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Facebook' }}{% endcapture %}{% include 'ly-static-string' with '7120910' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '7120909' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'Facebook ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
                  {% include 'icon-facebook' %}
                  <span class="icon__fallback-text"><ly-as-7120895>Facebook</ly-as-7120895></span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_twitter_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_twitter_link | escape }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Twitter' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Twitter' }}{% endcapture %}{% include 'ly-static-string' with '7120913' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '7120912' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'Twitter ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
                  {% include 'icon-twitter' %}
                  <span class="icon__fallback-text"><ly-as-7120896>Twitter</ly-as-7120896></span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_pinterest_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_pinterest_link | escape }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Pinterest' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Pinterest' }}{% endcapture %}{% include 'ly-static-string' with '7120916' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '7120915' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'Pinterest ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
                  {% include 'icon-pinterest' %}
                  <span class="icon__fallback-text"><ly-as-7120897>Pinterest</ly-as-7120897></span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_instagram_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_instagram_link | escape }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Instagram' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Instagram' }}{% endcapture %}{% include 'ly-static-string' with '7120919' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '7120918' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'Instagram ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
                  {% include 'icon-instagram' %}
                  <span class="icon__fallback-text"><ly-as-7120898>Instagram</ly-as-7120898></span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_tumblr_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_tumblr_link | escape }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Tumblr' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Tumblr' }}{% endcapture %}{% include 'ly-static-string' with '7120922' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '7120921' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'Tumblr ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
                  {% include 'icon-tumblr' %}
                  <span class="icon__fallback-text"><ly-as-7120899>Tumblr</ly-as-7120899></span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_snapchat_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_snapchat_link | escape }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Snapchat' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Snapchat' }}{% endcapture %}{% include 'ly-static-string' with '7120925' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '7120924' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'Snapchat ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
                  {% include 'icon-snapchat' %}
                  <span class="icon__fallback-text"><ly-as-7120900>Snapchat</ly-as-7120900></span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_youtube_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_youtube_link | escape }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'YouTube' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'YouTube' }}{% endcapture %}{% include 'ly-static-string' with '7120928' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '7120927' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'YouTube ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
                  {% include 'icon-youtube' %}
                  <span class="icon__fallback-text"><ly-as-7120901>YouTube</ly-as-7120901></span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_vimeo_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_vimeo_link | escape }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Vimeo' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Vimeo' }}{% endcapture %}{% include 'ly-static-string' with '7120931' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '7120930' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'Vimeo ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
                  {% include 'icon-vimeo' %}
                  <span class="icon__fallback-text"><ly-as-7120902>Vimeo</ly-as-7120902></span>
                </a>
              </li>
            {% endif %}
            {% if template.name == 'blog' or template.name == 'article' %}
              <li>
                <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                  {% include 'icon-rss' %}
                  <span class="icon__fallback-text"><ly-as-7120903>RSS</ly-as-7120903></span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}

      <div class="grid__item{% if section.settings.footer_newsletter_enable and social_icons == true %} medium-up--one-half{% else %} text-center{% endif %}">
        <div class="site-footer__copyright{% if social_icons and section.settings.footer_newsletter_enable != blank %} site-footer__copyright--right medium-up--text-right{% elsif social_icons == false and section.settings.footer_newsletter_enable %} medium-up--text-left{% endif %}">
          {% unless social_icons and section.settings.footer_newsletter_enable and section.settings.show_payment_icons %}
            <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ langify_shop_name | link_to: '/' }}</small>
            <small class="site-footer__copyright-content site-footer__copyright-content--powered-by">{{ powered_by_link }}</small>
          {% endunless %}
          {% if section.settings.show_payment_icons %}
            <div class="site-footer__payment-icons{% unless social_icons or section.settings.footer_newsletter_enable == blank %} site-footer__payment-icons--right{% endunless %}">
              {% unless shop.enabled_payment_types == empty %}
                {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,stripe,visa' | split: ',' -%}
                <ul class="payment-icons list--inline">
                  {% for type in shop.enabled_payment_types %}
                    {% if payment_icons_available contains type %}
                      <li class="payment-icon">
                        {%- assign icon_name = type | prepend: 'icon-' -%}
                        {% include icon_name %}
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endunless %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if social_icons and section.settings.footer_newsletter_enable and section.settings.show_payment_icons %}
      <div class="site-footer__copyright--bottom">
        <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ langify_shop_name | link_to: '/' }}</small>
        <small class="site-footer__copyright-content">{{ powered_by_link }}</small>
      </div>
    {% endif %}
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}

{% stylesheet%}
.logo-footer {
  width: 60px;
  height: 60px;
}
.logo-footer svg {
  width: 60px;
  height: 60px;
}
.site-footer {
  margin: 55px 0 0;
  background: #f3f3f3;
  padding: 55px 0 30px;
}
.footer-logo-parent {
  margin-top: 50px;
}
{%endstylesheet%}
