{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %} box ratio-container lazyload js"
     {% if section.settings.image %}
     data-bgset="{% include 'bgset', image: section.settings.image %}"
     data-sizes="auto"
     data-parent-fit="cover"
     style="background-position: {{ section.settings.alignment }}; background-image: url('{{ section.settings.image | img_url: '300x300' }});"
     {% endif %}>
  {% if section.settings.image == blank %}
    <div class="placeholder-background">
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% endif %}
  <div id="hero" class="hero__inner">
      <div class="page-width flexit"> <!-- text-center -->
        <div class="hero-content">
        {% if section.settings.title != blank %}
          <h2 class="h1 mega-title general hero_heading{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h2>
        {% endif %}
 
          <div class="hero-btn-container"> 
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="btn hero__btn">
            {{ section.settings.button_label | escape }}
          </a>
          {% comment %} <a class="circle mobile">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 171 171" style="enable-background:new 0 0 171 171;" xml:space="preserve">
              <style type="text/css">
              .ply0{fill:#FFFFFF;}
              .ply1{fill:none;stroke:#FFFFFF;stroke-width:6;stroke-miterlimit:10;}
              </style>
              <g>
                <polygon class="ply0" points="108,85.9 91,95.7 74,105.5 74,85.9 74,66.3 91,76.1 	"/>
                <circle class="ply1" cx="85.5" cy="85.5" r="79"/>
              </g>
            </svg>
          </a> {% endcomment %}
        {% endif %}
          </div>
      </div>
      {% if template == 'index' %}
      <div class="play-container">
        <div class="circle">
          <a href="#">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" viewBox="0 0 18 32">
              <style>
                .myplay {color: white}
              </style>
              <path class="myplay" d="M.263 0l17.071 15.944L.264 31.89" fill="#444" fill-rule="evenodd"/></svg>
          </a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
   <div class="video-wrapper" id="heroVid">
    <div class="video-inner"> 
      <span class="exitBtn"></span>
    </div>
  </div>
</div>


<noscript>
  <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}"{% if section.settings.image %} style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"{% endif %}></div>
</noscript>

{% schema %}
  {
    "name": "Image with text overlay",
    "class": "index-section index-section--flush",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Image alignment",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text overlay"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      },
      {
        "type": "select",
        "id": "hero_size",
        "label": "Section height",
        "default": "medium",
        "options": [
          {
            "label": "Extra Small",
            "value": "x-small"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra Large",
            "value": "x-large"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "medium",
        "options": [
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }
        ]
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Image with text overlay",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}

.video-wrapper.video-on {
  display: flex !important;
}
.video-wrapper.video-off {
  display: none !important;
} 

@media only screen and (max-width: 1370px) {

  .flexit {
    width: 80%;
  }

}

{% endstylesheet %}

{% javascript %}

$(function(){ 

  let iframe = $('iframe.myVideo');
  let videoInner = $('.video-inner');

  $('.circle').click(function() {
    $('#heroVid').removeClass('video-off').addClass('video-on');
    iframe.css('display', 'block');
    videoInner.append(iframe);
  });

  $('.exitBtn').click(function(e) {
    $('#heroVid').removeClass('video-on').addClass('video-off');
    iframe.attr('src', iframe.attr('src')).detach();
  });

});

{% endjavascript %}


