{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if template == 'index' %}
<style>
  #shopify-section-1498673394963 {
    padding: 70px 10px;
    color: white;
    background: #ee4640;
    background: -moz-linear-gradient(left, #ee4640 0%, #ec2d8b 100%);
    background: -webkit-linear-gradient(left, #ee4640 0%,#ec2d8b 100%);
    background: linear-gradient(to right, #ee4640 0%,#ec2d8b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee4640', endColorstr='#ec2d8b',GradientType=1 );
  }
  .rte-setting.white p {
    color: white
  }
 
</style>
{% endif %}

<div class="page-width my-quotes" data-section-id="{{ section.id }}" data-section-type="quotes">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="quotes-wrapper">
      <div class="quotes-slider" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}">
        {% for block in section.blocks %}
          <div class="quotes-slide--{{ block.id }}" {{ block.shopify_attributes }}>
            <blockquote class="quotes-slider__text text-center">
              <span class="quote-icon">{% include 'icon-quote' %}</span>
              {% if block.settings.quote != blank %}
                <div class="rte-setting white">{{ block.settings.quote }}</div>
              {% endif %}
              {% if block.settings.author != blank %}
                <cite>{{ block.settings.author | escape }}</cite>
              {% endif %}
            </blockquote>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Testimonials",
    "class": "index-section",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "quote",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Text",
        "blocks": [
          {
            "type": "quote"
          },
          {
            "type": "quote"
          },
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}
